* {
    margin: 0;
    padding: 0;
}

#footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}

#divisibleRow, 
#bishRow,
#boshRow {
    margin: 10px;
}

#change {
    text-align: center;
}